h1{
    background-image: url("DALL·E\ 2024-11-25\ 20.27.01\ -\ An\ imaginative\ and\ creative\ logo\ design\ for\ \'Arya\ Shukla\,\'\ combining\ artistic\ typography\ with\ a\ modern\ and\ minimalist\ aesthetic.\ The\ initials\ \'A\'\ and\ .webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: beige;
    height: 80vh;
}
p {
    background-color:antiquewhite ;
    color: bisque;
}